<!DOCTYPE HTML>

<html>
<head>
	<meta charset="UTF-8">
	<title>GameDemo</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<!-- <script type="text/javascript" src="js/vue-resource.js" ></script> -->
	<script type="text/javascript" src="js/vue.js" ></script>
	<script type="text/javascript" src="js/jquery-3.1.1.js" ></script>
</head>
<body>
	<div id="background">
		<div class="container">
			<span id="message">{{ msg }}</span>
		</div>
		<div class="container">
			<div class="account-info">
				<span v-if="userLoginName">{{ userLoginName }} | <a href="#" @click="logout">注销</a></span>
			</div>
		</div>
		<div id="header">
			<div>
				<div>
					<a href="index.html" class="logo"><img src="images/logo.png" alt=""></a>
					<ul>
						<li>
							<a href="index.html" id="menu1">home</a>
						</li>
						<li>
							<a href="media.html" id="menu2">media</a>
						</li>
						<li class="selected">
							<a href="games.html" id="menu3">games</a>
						</li>
						<li>
							<a href="about.html" id="menu4">about</a>
						</li>
						<li>
							<a href="login.html" id="menu5">login</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--<a href="addGame">addGame</a>-->
		<div id="body">
			<div>
				<div>
					<div class="games">
						<div class="content">
							<h3>best games</h3>
							<ul>
								<!--<li>
									<a href="#" class="figure"><img src="images/best-game1.jpg" alt=""></a> <span><a href="#">This is just a place holder</a></span>
								</li>
								<li>
									<a href="#" class="figure"><img src="images/best-game2.jpg" alt=""></a> <span><a href="#">This is just a place holder</a></span>
								</li>-->
								<li v-for="bestgame in bestgames">
									<a v-bind:href="'http://localhost:8080/GameDemo/gamedetail.html?id='+bestgame.id" class="figure"><img v-bind:src="bestgame.mainpicture" alt=""></a>
									<p><span>{{bestgame.score}}</span></p>
									<p><span>{{bestgame.content}}</span></p>
									<p><br/></p>
									<a v-bind:href="bestgame.downloadLink">百度云下载</a>
								</li>
							</ul>
						</div>
						<div class="aside">
							<h3>other games</h3>
							<ul>
								<!-- <li>
									<a href="#" class="figure"><img src="images/game1.jpg" alt=""></a>
									<span><a href="#">This is just a place holder</a></span>
								</li>
								<li>
									<a href="#" class="figure"><img src="images/game2.jpg" alt=""></a>
									<span><a href="#">This is just a place holder</a></span>
								</li>
								<li>
									<a href="#" class="figure"><img src="images/game3.jpg" alt=""></a>
									<span><a href="#">This is just a place holder</a></span>
								</li>
								<li>
									<a href="#" class="figure"><img src="images/game4.jpg" alt=""></a>
									<span><a href="#">This is just a place holder</a></span>
								</li>
								<li>
									<a href="#" class="figure"><img src="images/game5.jpg" alt=""></a>
									<span><a href="#">This is just a place holder</a></span>
								</li>
								<li>
									<a href="#" class="figure"><img src="images/game6.jpg" alt=""></a>
									<span><a href="#">This is just a place holder</a></span>
								</li> -->
								<button @click="uppage">上一页</button>
								<span>{{pageNum}}</span>
								<button @click="downpage">下一页</button>
								<!--v-if="index<pageNum*4 | index>=(pageNum-1)*4"-->
								<li v-for="(game,index) in games"  v-if="index<pageNum*4 && index>=(pageNum-1)*4">
									<a v-bind:href="'http://localhost:8080/GameDemo/gamedetail.html?id='+game.id" class="figure"><img v-bind:src="game.mainpicture" alt=""></a>
									<p><span>{{game.score}}分</span></p>
									<p><span>{{game.content}}</span></p>
									<p><br/></p>
									<a v-bind:href="game.downloadLink">百度云下载</a>
								</li>
							</ul>
						</div>
						
						
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<div>
				
				<p>
					@ copyright 2012. All rights reserved.
				</p>
			</div>
		</div>
	</div>
</body>
<!-- js/vue-resource.js不能放上面（用不了），只能放这里 -->
<script type="text/javascript" src="js/vue-resource.js" ></script>
<script type="text/javascript">
	var app = new Vue({
			el:'#background',
			data:{
					logoutUrl: 'http://localhost:8080/GameDemo/userlogout',
					msg: '',
					userLoginName: '',
					pageNum:'1',
					result: '',
					games:[],
					bestgames:[],
					getUrl:"http://localhost:8080/GameDemo/showgames",
					getbestUrl:"http://localhost:8080/GameDemo/showbestgames"
			}, 
			mounted: function () {
				console.log("mounted")
				this.userLoginName = sessionStorage.getItem('userLoginName')
				console.log(this.userLoginName)
			  this.$nextTick(function () {
			    // 代码保证 this.$el 在 document 中
			    console.log("nextTick")
				this.getGames()
				this.getBestGames()
			  })
			},
			methods:{
				getBestGames:function(){
					this.$http.get(this.getbestUrl)
					.then(function(response){
						this.bestgames = response.data;
						console.log("bestgames:")
						console.log(this.bestgames)
					},function(reserr){
						console.log(reserr)
					})
					.catch(function(response) {
            			console.log(response)
        			})
				},
				getGames:function(){
					this.$http.get(this.getUrl)
					.then(function(response){
						this.games = response.data;
						console.log("games:")
						console.log(this.games)
					},function(reserr){
						console.log(reserr)
					})
					.catch(function(response) {
            			console.log(response)
        			})
				},
				uppage:function() {
					this.pageNum--;
					if(this.pageNum<1)
						this.pageNum=1;
				},
				downpage:function() {
					this.pageNum++;
					if(this.pageNum>this.games.length/4) 
						this.pageNum--;
				},
				logout: function() {
					var vm = this
					vm.msg = ''
					vm.result = ''
	
					$.ajax({
						url: vm.logoutUrl,
						type: 'POST',
						dataType: 'json',
						success: function(data) {
	
							vm.msg = '注销成功！'
							vm.userLoginName = ''
	
							sessionStorage.removeItem('userLoginName')
							sessionStorage.removeItem('accessToken')
							
						},
						error: vm.requestError
					})
				}
			}
		}) 
</script>
</html>